<CONFIG>
	<TRAFFIC>
		<PROTOCOL>tcp</PROTOCOL>
		<SRC_IP>143.129.67.80</SRC_IP>
		<SRC_PORT>6734</SRC_PORT>
		<DST_IP>143.129.67.30</DST_IP>
		<DST_PORT>80</DST_PORT>
		<POLICY>drop</POLICY>
		<IN_INTERFACE>trn</IN_INTERFACE>
		<OUT_INTERFACE>net67</OUT_INTERFACE>
	</TRAFFIC>
	<TRAFFIC>
		<DUMP>accept_input.dump</DUMP>
		<POLICY>accept</POLICY>
		<IN_INTERFACE>net70</IN_INTERFACE>
		<OUT_INTERFACE>net67</OUT_INTERFACE>
	</TRAFFIC>
</CONFIG>
